/* Enter your custom styles here */

.revColor {
    color: green;
}
.target
{
	   background-color:#F6B9B9;
}
.smartTable
{
	border: 2.5px solid  #DBDADA;
	
}
.fulcrum-editor-textarea{
	

	word-wrap: break-word;
 white-space: pre-wrap;
 display:inline-block;
 width:100%;height:100%;
 

}