.sapUiSizeCompact .sapUiTableCell .sapMLabel, .sapUiSizeCondensed .sapUiTableCell .sapMLabel, .sapUiSizeCompact .sapUiTableColCell>.sapMLabel, .sapUiSizeCondensed .sapUiTableColCell>.sapMLabel{
	font-weight: bold !important;
}
.sapMLabel {
    color: #66635a;
    font-weight: bold;
}
.revColor{
	color: green;
	font-weight: bold;
}


.panelClass h1{
	border-bottom: none !important;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: 0px !important;
}
.sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {
    border-bottom: 0px !important;
}
.sapMITBFilter .sapMITBText{
	width:auto !important;
	font-weight: bold !important;
}